{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}

{% set overrideSearchFilters = LayoutContainer.show("Ceres::Search.Filter", facets ) %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.CategoryItem") }}
    {{ component( "AccessoriesExclusive::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}

    <div class="categoriegrid page-content container-max">

            <div class="row">
                <div class="customHeaderBox">
                    <div class="col-12">
                        
                    	<h1 class="h2 category-title try">
                    		{% if category.details[0].shortDescription %}
                    			{{ category.details[0].shortDescription | raw }}
                    		{% else %}
                    			{{ category.details[0].name }}
                    		{% endif %}
                    	</h1>
                        
                        {% if ceresConfig.item.showCategoryDescription %}
                            <p>{{ category.details[0].description2 | raw }}</p>
                        {% endif %}

                    </div>
                </div>
            </div>

            <!-- HERREN BOXEN -->
            {% if category.id == '29' %}
                <div class="">
                    <div class="row category-lvl-border-boxes">
                        <div class="col-sm-6 col-md-4">
                            <a href="https://www.accessories-exclusive.de/herren/lederguertel/" title="Herren Ledergürtel">
                                <div class="border-box inverse">
                                    <div class="border-box-img">
                                        <img src="https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/img/herren-lederguertel-kaufen.png" width="171" height="188" style="margin-top:20px"/>
                                    </div>
                                    <div class="border-box-txt">
                                        <span class="border-box-txt-top alone">Ledergürtel</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-6 col-md-4">
                            <a href="https://www.accessories-exclusive.de/herren/hosentraeger/" title="Hosenträger">
                                <div class="border-box inverse">
                                    <div class="border-box-img">
                                        <img src="https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/img/herren-hosentraeger-kaufen.png" width="223" height="206" style="margin-top:20px"/>
                                    </div>
                                    <div class="border-box-txt">
                                        <span class="border-box-txt-top alone">Hosenträger</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-6 col-md-4">
                            <a href="https://www.accessories-exclusive.de/herren/portemonnaies/" title="Portemonnaies">
                                <div class="border-box inverse">
                                    <div class="border-box-img">
                                        <img src="https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/img/herren-portmonnaie-kaufen.png" width="217" height="188" style="margin-top:15px"/>
                                    </div>
                                    <div class="border-box-txt">
                                        <span class="border-box-txt-top alone">Portemonnaies</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}



            <!-- DAMEN BOXEN -->
            {% if category.id == '84' %}
                <div class="">
                    <div class="row category-lvl-border-boxes">
                        <div class="col-sm-6 col-md-4">
                            <a href="https://www.accessories-exclusive.de/damen/lederguertel/" title="Damen Ledergürtel">
                                <div class="border-box inverse">
                                    <div class="border-box-img">
                                        <img src="https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/img/damen-lederguertel-kaufen.png" width="167" height="192" style="margin-top:20px"/>
                                    </div>
                                    <div class="border-box-txt">
                                        <span class="border-box-txt-top alone">Ledergürtel</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-6 col-md-4">
                            <a href="https://www.accessories-exclusive.de/damen/umhaengetaschen/" title="Damen Ledertaschen">
                                <div class="border-box inverse">
                                    <div class="border-box-img">
                                        <img src="https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/img/damen-ledertaschen-kaufen.png" width="248" height="206" style="margin-top:20px"/>
                                    </div>
                                    <div class="border-box-txt">
                                        <span class="border-box-txt-top alone">Ledertaschen</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-sm-6 col-md-4">
                            <a href="https://www.accessories-exclusive.de/damen/portemonnaies/" title="Portemonnaies">
                                <div class="border-box inverse">
                                    <div class="border-box-img">
                                        <img src="https://cdn02.plentymarkets.com/w5u2kzpj7f3t/frontend/accessories-exclusive-src/img/damen-portmonnaie-kaufen.png" width="167" height="98" style="margin-top:35px"/>
                                    </div>
                                    <div class="border-box-txt">
                                        <span class="border-box-txt-top alone">Portemonnaies</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}


        <div class="list-controls mb-5">
            <div class="list-controls-inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-wrapper">
                            {% include "Ceres::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } %}

                            {% include "Ceres::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } %}


                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
                            <div class="list-controls custom-top-pag">
                                    {% include "Ceres::Category.Item.Partials.Pagination" %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# TAGS #}
            <item-filter-tag-list></item-filter-tag-list>
        </div>

        <div class="row">

            
             <div class="col-3 hidden-md-down">

                {% if overrideSearchFilters | trim is empty %}
                        <item-filter-list :facet-data="{{ facets | json_encode }}">
                            {% if facets | length > 0 %}
                                <a class="btn btn-link filter-toggle" href="#filterCollapse">
                                    <i class="fa fa-sliders default-float" aria-hidden="true"></i> {{ trans("Ceres::Template.itemFilter") }}
                                </a>
                            {% endif %}
                        </item-filter-list>
                    {% else %}
                        {{ overrideSearchFilters }}
                    {% endif %}

                    {% if category.level == 1 %}

                        {{ LayoutContainer.show("Ceres::CategoryItem.SideNavBarBottom") }}

                         <div class="sidebar-categories">
                            <div class="category-title">{{ trans("Ceres::Template.itemCategories") }}</div>
                            {{ include('Ceres::PageDesign.Partials.Header.SideNavigation.twig') }}
                        </div>

                        
                    {% else %}

                        <div class="sidebar-categories">
                            <div class="category-title">{{ trans("Ceres::Template.itemCategories") }}</div>
                            {{ include('Ceres::PageDesign.Partials.Header.SideNavigation.twig') }}
                        </div>

                        {{ LayoutContainer.show("Ceres::CategoryItem.SideNavBarBottom") }}
                        
                    {% endif %}
            </div>

         

            <div class="col-12 col-lg-9">
                <ul class="product-list row grid">
                    {% for item in itemList %}
                        <li class="col-12 col-sm-6 col-md-4 col-lg-{% if ceresConfig.header.showNavBars == "side" or ceresConfig.header.showNavBars == "both" %}4{% else %}3{% endif %}">
                            <category-item
                                :item-data="{{ item.data | json_encode }}"
                                :decimal-count="{{ decimalCount }}">
                                <template slot="BeforePrices">{{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}</template>
                                <template slot="AfterPrices">{{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item.data) }}</template>
                            </category-item>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
            <div class="list-controls mb-5 row">
                <div class="col-12">
                    {% include "Ceres::Category.Item.Partials.Pagination" %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container further-infos">
        <div class="row">
     		{{ category.details[0].description | raw }}
        </div>
    </div>

{% endblock %}

{% block PartialHead %}
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ webstoreConfig.domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}</script>

    {% set canonicalUrl = services.url.getCanonicalURL() %}
    {% if currentPage - 1 > 0 %}
        <link rel="prev" href="{{ canonicalUrl ~ queryString({'page': currentPage - 1}) }}" />
    {% endif %}

    {% if currentPage + 1 <= pageMax %}
        <link rel="next" href="{{ canonicalUrl ~ queryString({'page': currentPage + 1}) }}" />
    {% endif %}

    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %} | {{ trans("Ceres::Template.headerCompanyName") }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">
    <meta name="robots" content="{% if forceNoIndex or (currentPage >= config("Ceres.pagination.noIndex") and config("Ceres.pagination.noIndex") != 0 )%}NOINDEX{% else %}{{ metaRobots }}{% endif %}">
{% endblock %}
